

.grey-inputs{
    border: 1px solid #8E9FC3;
    border-radius: 0.4rem;
    box-shadow: none;
    letter-spacing: 0.2px;
    font-size: 1.4rem;
    min-height: 38px;
    color: #1F2B59;
    cursor: pointer;
}