
 :root{
  --purple : #1F2B59
}

h1,h2,h3,h4,h5,h6, .purple{
  color: var(--purple);
}

body{
  background-color: #fff;
}

a{
  color: #000;
  text-decoration: none;
}

li{
  list-style: none;
}

.btn-success{
  background-color: #3eb549;
  border-color: #37a241;
}


.hero-btn{
  background: linear-gradient(111.72deg,#3E47DD 14.24%, #262A98 85.76%);
  color: #fff;
  padding: 9px 27px;
  box-shadow: 0px 16px 24px -20px #3e47dd;
  
}
.hero-btn:hover{
  color: #fff;
  background: linear-gradient(111.72deg,#3E47DD 14.24%, #262A98 85.76%);
  box-shadow: 0px 16px 36px -12px #3e47dd;
}

